.heroSection {
    background-color: var(--primary-color-1);
    width: 100%;
    padding-block: 2rem;
}
.hero {
    width: min(75%, 840px);
    margin-inline: auto;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.hero-title {
    color: var(--primary-color-2);
    padding-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
}
.hero-title + h2 {
    font-size: var(--fontSize-subTitle);
    padding-top: 0;
    margin-top: 0;
    line-height: 0.5;
}
.hero img {
    max-width: 100%;
}

.hero_text {
    width: 45%;
}

.hero_imgContainer {
    position: relative;
    width: 38%;
}

.hero .foodImg {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    max-height: 125%;
    object-fit: cover;
    border-radius: var(--box-radius);
}
