.footerSection {
    background-color: var(--primary-color-1);
    width: 100%;
    padding-block: 2rem;
}
.footer {
    display: flex;
    width: min(75%, 840px);
    margin-inline: auto;
    gap: 2rem;
    padding-inline: 1rem;
}
.footer_info {
    display: flex;
    gap: min(8rem, 20%);
    justify-content: space-evenly;
    flex-grow: 1;
    line-height: 1.5;
}

.footer-mainImg {
    width: 240px;
}

.footer h4 {
    margin-top: 0;
}

.footerContainer a {
    color: #ffffff;
}

.footerContainer ul {
    padding: 0;
}
