@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&family=Markazi+Text:wght@400;700&display=swap");

:root {
    --fontFamily-markazi: "Markazi Text", serif;
    --fontFamily-karla: "Karla", sans-serif;
    --fontSize-title: 64px;
    --fontSize-subTitle: 40px;
    --fontSize-sectionTitle: 20px;
    --fontSize-p: 18px;
    --fontSize-card-p: 16px;
    --primary-color-1: #495e57;
    --primary-color-2: #f4ce14;
    --secondary-color1: #ee9972;
    --secondary-color2: #fbdabb;
    --secondary-color3: #edefee;
    --secondary-color4: #333333;
    --box-radius: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: var(--fontFamily-markazi);
}

h4,
h5,
h6 {
    font-family: var(--fontFamily-karla);
}

h1 {
    font-size: var(--fontSize-title);
}

h2 {
    font-size: var(--fontSize-subTitle);
}

p,
a {
    font-size: var(--fontSize-p);
    font-family: var(--fontFamily-karla);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.prime-btn {
    border-radius: var(--box-radius);
    padding: 1rem;
    min-width: 12rem;
    font-weight: bold;
    background-color: var(--primary-color-2);
    border: none;
    box-shadow: 0 2px 10px black;
    font-size: var(--fontSize-p);
    cursor: pointer;
}
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
