.navContainer {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 1px 1px var(--primary-color-1);
}

.navContainer nav {
    width: min(75%, 840px);
    margin-inline: auto;
    display: flex;
    gap: 2rem;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: nowrap;
    font-size: var(--fontSize-p);
}

.navContainer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-left: 0;
}

.navContainer a {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 1.4rem;
}

.navContainer a:hover {
    color: var(--primary-color-2);
    border-bottom: 4px inset var(--primary-color-2);
}
